.pure-g
  .page-title.pure-u-1 Shopping Cart
  - if notice
    %p#notice= notice
  .products
    - @cart.line_items.each do |item|
      .product
        .pure-u-2-5.pure-gutter
          = image_tag(item.product.image_url, class: 'pure-img img-box')
        .pure-u-3-5.list_description.pure-gutter
          %p.title
            = item.product.title
          %p= truncate(strip_tags(item.product.description), length: 100)
          %p Quantity: #{item.quantity}
          %p Price: #{number_to_currency(item.product.price)}
          %p.price
            Subtotal: #{number_to_currency(item.total_price)}
            = button_to 'Remove item', item, :class => "button-small pure-button", method: :delete,
              data: { confirm: 'Are you sure?' }
    .pure-u-1.total-price
      %p #{pluralize @cart.items_quantity, 'item'}  in cart
      %p Total price: #{number_to_currency(@cart.total_price)}
