= form_for @product, html: {class: "pure-form pure-form-aligned"} do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .pure-control-group
    = f.label :title
    = f.text_field :title, size: 40
  .pure-control-group
    = f.label :description
    = f.text_area :description, rows: 6, cols: 42
  .pure-control-group
    = f.label :image_url
    = f.text_field :image_url, size: 40
  .pure-control-group
    = f.label :price
    = f.text_field :price, size: 40
