%nav.pure-menu.pure-menu-horizontal.sub-menu
  %ul.pure-menu-list
    %li.pure-menu-item
      = link_to new_product_path, class: "pure-menu-link" do
        #{fa_icon "plus"} New product
.products.content-wrapper.pure-g
  - @products.each do |product|
    .pure-u-2-5
      .img-box
        %p= image_tag(product.image_url, class: 'pure-img img-box')
    .pure-u-2-5
      .list-description
        %p.title=  product.title
        %p= truncate(strip_tags(product.description), length: 180)
        %p.price= number_to_currency(product.price)
    .pure-u-1-5
      .list-options
        = link_to edit_product_path(product), class: "pure-button" do
          #{fa_icon "edit"} Edit
        %br
        %br
        = link_to product, :method => :delete, |
          :data => { :confirm => 'Are you sure?' }, |
          class: "pure-button" do
          #{fa_icon "trash-o"} Delete
