.content-wrapper.pure-g
  .pure-u-1
    %p#notice= notice
  .pure-u-2-5
    .img-box
      %p= image_tag(@product.image_url, class: 'pure-img img-box')
  .pure-u-2-5
    .list-description
      %p.title=  @product.title
      %p= truncate(strip_tags(@product.description), length: 180)
      %p.price= number_to_currency(@product.price)
  .pure-u-1-5
    .list-options
      = link_to edit_product_path(@product), class: "pure-button" do
        #{fa_icon "edit"} Edit
