.pure-g
  .page-title.pure-u-1
    Products catalog viewed
    = pluralize session[:counter], 'time'
  - if notice
    %p.pure-u-1#notice= notice
  .products
    -cache ['store', Product.latest] do
      - @products.each do |product|
        -cache ['product', product] do
          .product
            .pure-u-2-5.pure-gutter
              = image_tag(product.image_url, class: 'pure-img img-box')
            .pure-u-3-5.list_description.pure-gutter
              %p.title= product.title
              %p= truncate(strip_tags(product.description), length: 180)
              %p.price= number_to_currency(product.price)
              = button_to line_items_path(product_id: product),
                :class => "button-small pure-button pure-button-primary", remote: true do
                #{fa_icon "cart-plus"} Add to cart
