.pure-g
  %h1.pure-u-1 Catalog
  - if notice
    %p#notice= notice
  .products
    - @products.each do |product|
      .pure-u-1-5.pure-gutter
        = image_tag(product.image_url, class: 'pure-img img-box')
      .pure-u-4-5.list_description.pure-gutter
        %p.title= product.title
        %p= truncate(strip_tags(product.description), length: 180)
        %p= product.price
