.pure-g
  %section.hero
    .brand
      %p.hero-title
        %span.icon-indieCraft-logo
        Indie Craft
      %p.hero-subtitle Store
- if notice
  %p.pure-u-1#notice= notice
.products.content-wrapper.pure-g
  -cache ['store', Product.latest] do
    - @products.each do |product|
      -cache ['product', product] do
        .pure-u-1-2
          .product
            = image_tag(product.image_url, class: 'pure-img img-box')
            %p.title= truncate(strip_tags(product.title), length: 30)
            %p.price= number_to_currency(product.price)
            %p= truncate(strip_tags(product.description), length: 90)
            = button_to line_items_path(product_id: product),
              :class => "button-small pure-button pure-button-secondary", remote: true do
              #{fa_icon "cart-plus"} Add to cart
%section.description-panel
  %article
    %p
      Lorem ipsum dolor sit amet, ea cum nostro tractatos, essent menandri et cum. Te quo eirmod copiosae assentior, oportere qualisque iudicabit et ius. Doming officiis sit eu. Nibh tacimates definiebas id nec, at nam dolorem pertinacia percipitur. Ei quaestio comprehensam definitionem mel. Nostrud ceteros definitionem id mel, ad sit stet natum tollit, ad usu verterem definiebas.
      %br/
      Postulant cotidieque persequeris sea ut, an sit veniam dolore, pri nostrud iuvaret principes at.
%section.page-footer
  %section.pure-g
    %article.pure-u-1-2
      .social-media-icon
        #{fa_icon "facebook"} Facebook
      .social-media-icon
        #{fa_icon "google-plus"} Google
      .social-media-icon
        #{fa_icon "instagram"} Instagram
    %article.pure-u-1-2
      .social-media-icon
        #{fa_icon "pinterest-p"} Pinterest
      .social-media-icon
        #{fa_icon "tumblr"} Tumblr
      .social-media-icon
        #{fa_icon "twitter"} Twitter
