!!!
%html
  %head
    %title Depot 506
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: "#{controller.controller_name} #{action_name}"}
    %nav#main-menu.pure-menu.pure-menu-open.pure-menu-horizontal.fixed-navbar
      %a.pure-menu-heading
        %img{:alt => "Depot 506", class: "brand", :src => "/assets/depot506.png"}/
        .brand Depot 506
      %ul.pure-menu-list
        %li.pure-menu-item
          = link_to 'Store', store_path, :class => "pure-menu-link pure-menu-selected"
        %li.pure-menu-item
          = link_to 'Products', products_path, :class => "pure-menu-link"
      %ul.pure-menu-list.cart-link
        %li.pure-menu-item
          -if @cart
            = link_to cart_path(@cart), :id => 'cart-container', :class => "pure-menu-link" do
              #{fa_icon "shopping-cart"}
              %span#cart= pluralize @cart.items_quantity, 'item'
              in Cart
    .content-wrapper
      = yield

    .footer
      .legal.pure-g
        .pure-u-1.u-sm-1-2
          .legal-license
            Deppot 506
            %br/
            %a{:href => "https://github.com/MOctavio/depot"} Mario Octavio Jimenez - GitHub Project
          .legal-info
            Based on
            %a{:href => "https://pragprog.com/book/rails4/agile-web-development-with-rails-4", :title => "Agile Web Development with Rails 4"} Agile Web Development with Rails 4
            %br/
            App icon made by
            %a{:href => "http://www.freepik.com", :title => "Freepik"} Freepik
            from
            %a{:href => "http://www.flaticon.com", :title => "Flaticon"} www.flaticon.com
            is licensed under
            %a{:href => "http://creativecommons.org/licenses/by/3.0/", :title => "Creative Commons BY 3.0"} CC BY 3.0
