!!!
%html
  %head
    %title Indie Craft
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: "#{controller.controller_name} #{action_name}"}
    %nav.pure-menu.pure-menu-open.pure-menu-horizontal.fixed-navbar
      %a.pure-menu-heading
        .brand.disable-selection
          %span.icon-indieCraft-logo
          Indie Craft
      %ul.pure-menu-list
        %li.pure-menu-item
          = link_to 'Store', store_path, class:  "pure-menu-link pure-menu-selected"
        %li.pure-menu-item
          = link_to 'Products', products_path, class: "pure-menu-link"
      %ul.pure-menu-list.cart-link
        %li.pure-menu-item
          -if @cart
            = link_to cart_path(@cart), id: 'cart-container', class: "pure-menu-link" do
              #{fa_icon "shopping-cart"}
              %span#cart= pluralize @cart.items_quantity, 'item'
              in Cart
    %section
      = yield
    %footer
      %article.left-panel
        %p Indie Craft Store
        %p by Mario Octavio Jimenez
      %article.right-panel
        %p
          Source code on
          %a{:href => "https://github.com/MOctavio/indieCraft"} GitHub - Project
        %p
          App icon made by
          %a{:href => "http://www.freepik.com", :title => "Freepik"} Freepik
          from
          %a{:href => "http://www.flaticon.com", :title => "Flaticon"} www.flaticon.com
          is licensed under
          %a{:href => "http://creativecommons.org/licenses/by/3.0/", :title => "Creative Commons BY 3.0"} CC BY 3.0
