!!!
%html
  %head
    %title Depot 506
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: "#{controller.controller_name} #{action_name}"}
    %nav#main-menu.pure-menu.pure-menu-open.pure-menu-horizontal.fixed-navbar
      %a.pure-menu-heading Depot 506
      %ul.pure-menu-list
        %li.pure-menu-item
          = link_to 'Store', store_path, :class => "pure-menu-link"
        %li.pure-menu-item
          = link_to 'Products', products_path, :class => "pure-menu-link"
      %ul.pure-menu-list.cart-link
        %li.pure-menu-item
          -if @cart
            = link_to cart_path(@cart), :id => 'cart-container', :class => "pure-menu-link pure-menu-selected" do
              #{fa_icon "shopping-cart"} Cart (
              %span#cart= pluralize @cart.items_quantity, 'item'
              )
    = yield
